@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');




  img{
    object-fit: cover;
  }
  /* body {
    position: relative;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
     url('../assets/Cinema_Web_Site_Design.jpg') center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  } */
  
  .container {
    perspective: 1000px;
    margin-bottom: 30px;
  }


.seat {
  background-color: #444454;
  height: 15px;
  width: 20px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #770202;
}

.seat.occupied {
  background-color: #fff
}

.seat:nth-of-type(3) {
  margin-right: 8rem;
}

.seat:nth-last-of-type(3) {
  margin-left: 8rem;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}

.showcase li small {
  margin-left: 10px;
  margin-bottom: 17px;
  color: white;
  font-weight: 600;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen {
  background:  linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://cequejepense.fr/wp-content/uploads/2021/02/kogustaki.jpg') center/cover no-repeat fixed;
  height: 15rem;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50rem;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #770202;
}



@media (max-width: 850px) {
  .showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .showcase ul{
    padding-left: 0px;
    padding-right: 0px;
  }
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .showcase li small {
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .screen {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 1px;
    margin-right: 0.5rem;
    transform: rotateX(-60deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);
  }
  .screen::before {
    content: '';
    position: absolute;
    width: 100%;
    z-index: -1; /* Place the overlay behind the content */
  }
}